<!DOCTYPE html>
<html>
<head>
    <script src="../js/jquery-3.7.1.min.js"></script> 
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <meta charset="EUC-KR">
    <title>Insert title here</title>
    <style>
        table,tr,td,th{
            border: 1px solid black;
            text-align: center;
            border-collapse: collapse;
            padding : 5px 10px;
            margin-top: 20px;
        }
        td>input{
            width: 70px;
        }
        .txt{
            font-weight: bold;
        }
        .txt2{
            color: blueviolet;
        }
    </style>
</head>
<body>
<div id="app">
    <input placeholder="학번 입력" v-model="keyword" @keyup.enter="fnGetList">
    <select v-model="stuGrade" @change="fnGetList">
        <option value="">:전체</option>
        <option value="1">1학년</option>
        <option value="2">2학년</option>
        <option value="3">3학년</option>
    </select>
    <button @click="fnGetList">검색</button>
    <table>
        <tr>
            <th>학번</th>
            <th>이름</th>
            <th>학과</th>
            <th>학년</th>
            <th>성별</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
        <tr v-for="item in list">
            <template v-if="item.STU_NO==updateStuNo">
                <td>{{item.STU_NO}}</td>
                <td><input v-model="item.STU_NAME"></td>
                <td><input v-model="item.STU_DEPT"></td>
                <td><input v-model="item.STU_GRADE"></td>
                <td><input v-model="item.STU_GENDER"></td>
                <td><button @click="fnSave(item)">저장</button></td>
            </template>
            <template v-else>
                <td>{{item.STU_NO}}</td>
                <td>{{item.STU_NAME}}</td>
                <!--<td :class="{txt : item.STU_DEPT == '기계'}">{{item.STU_DEPT}}</td>-->
                <td>{{item.STU_DEPT}}</td>
                <!--<td :class="{txt:item.STU_GRADE==1}">{{item.STU_GRADE}}</td>-->
                <!--<td :class="[item.STU_GRADE==1? 'txt':'txt2']">{{item.STU_GRADE}}</td>-->
                <td>{{item.STU_GRADE}}</td>
                <td>
                    <span v-if="item.STU_GENDER == 'M'">남자</span>
                    <span v-else>여자</span>
                </td>
                <td><button @click="fnUpdate(item.STU_NO)">수정</button></td>
            </template>
            <td><button @click="fnRemove(item.STU_NO)">삭제</button></td>
        </tr>
    </table>
</div>

</body>
</html>
​<script>
    const app = Vue.createApp({
        data() {
            return {
                list:[],
                //stuNo:""
                keyword:"",
                updateStuNo:"",
                stuGrade:""
            };
        },
        methods: {
            fnGetList(){
                var self=this;
                $.ajax({
                    url : `http://localhost:3000/list?keyword=${self.keyword}&grade=${self.stuGrade}`,
                    dataType : "json",
                    type : "GET",
                    data : {},
                    success : function(data){
                        //console.log(data);
                        self.list=data;
                    }
                });
            },
            fnUpdate(stuNo){
                console.log(stuNo);
                this.updateStuNo=stuNo;
            },
            fnRemove(stuNo){
                if(!confirm("삭제하시겠습니까?")){
                    return;
                };
                var self=this;
                $.ajax({
                    url : `http://192.168.30.45:3000/delete?stuNo=${stuNo}`,
                    dataType : "json",
                    type : "GET",
                    data : {},
                    success : function(data){
                        //console.log(data);
                        //self.list=data;
                        alert(data[0].message);
                        self.fnGetList();
                    }
                });

            },
            fnSave(item){
                if(!confirm("수정하시겠습니까?")){
                    return;
                };
                var self=this;
                var url=`http://192.168.30.45:3000/update?stuNo=${item.STU_NO}&stuName=${item.STU_NAME}&stuGrade=${item.STU_GRADE}&stuGender=${item.STU_GENDER}&stuDept=${item.STU_DEPT}`
                $.ajax({
                    url : url,
                    dataType : "json",
                    type : "GET",
                    data : {},
                    success : function(data){
                        //console.log(data);
                        //self.list=data;
                        alert(data[0].message);
                        self.updateStuNo="";
                        self.fnGetList();
                    }
                });
            }

            // fnSearch(){
            //     var self=this;
            //     $.ajax({
            //         url : "http://192.168.30.45:3000/search?id="+self.stuNo,
            //         dataType : "json",
            //         type : "GET",
            //         data : {},
            //         success : function(data){
            //             //console.log(data);
            //             self.list=data;
            //         }
            //     });
            // }
        },
        mounted() {
            this.fnGetList();
            //this.fnSearch();
        }
    });
    app.mount('#app');
</script>