<!DOCTYPE html>
<html>
<head>
    <script src="../js/jquery-3.7.1.min.js"></script> 
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <meta charset="EUC-KR">
    <title>Insert title here</title>
    <style>
        table,tr,td,th{
            border: 1px solid black;
            text-align: center;
            border-collapse: collapse;
            padding : 5px 10px;
            margin: 5px;
        }
    </style>
</head>
<body>
<div id="app">
    <input placeholder="학번 입력" v-model="keyword">
    <button @click="fnGetList">검색</button>
    <table>
        <tr>
            <th>학번</th>
            <th>이름</th>
            <th>학과</th>
            <th>학년</th>
            <th>성별</th>

        </tr>
        <tr v-for="item in list">
            <td>{{item.STU_NO}}</td>
            <td>{{item.STU_NAME}}</td>
            <td>{{item.STU_DEPT}}</td>
            <td>{{item.STU_GRADE}}</td>
            <td>
                <span v-if="item.STU_GENDER == 'M'">남자</span>
                <span v-else>여자</span>
            </td>
        </tr>
    </table>
</div>

</body>
</html>
​<script>
    const app = Vue.createApp({
        data() {
            return {
                list:[],
                //stuNo:""
                keyword:""
            };
        },
        methods: {
            fnGetList(){
                var self=this;
                $.ajax({
                    url : "http://192.168.30.45:3000/list?keyword="+self.keyword,
                    dataType : "json",
                    type : "GET",
                    data : {},
                    success : function(data){
                        //console.log(data);
                        self.list=data;
                    }
                });
            },

            // fnSearch(){
            //     var self=this;
            //     $.ajax({
            //         url : "http://192.168.30.45:3000/search?id="+self.stuNo,
            //         dataType : "json",
            //         type : "GET",
            //         data : {},
            //         success : function(data){
            //             //console.log(data);
            //             self.list=data;
            //         }
            //     });
            // }
        },
        mounted() {
            this.fnGetList();
            //this.fnSearch();
        }
    });
    app.mount('#app');
</script>