<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <meta charset="EUC-KR">
    <title>Insert title here</title>
    <style>
        #app{
            width: 600px;
            margin : 20px auto;
        }
        table{
            width: 600px;
        }
        table, tr,td, th {
            border: 1px solid;
            text-align: center;
            border-collapse: collapse;
        }

        tr, td, th {
            padding: 5px 10px;
        }
        td input {
            width: 70px;
        }
        .txt {
            font-weight: bold;
        }
        .txt2 {
            color : blue;
            font-weight: bold;
        }
        select {
            margin : 0 10px;
            padding: 2px;
        } 
        .btn {
            margin-top : 5px;
            float: right;
        }
        input[type="radio"] {width: 20px;}
    </style>
</head>

<body>
    <div id="app">
        <input placeholder="검색어" v-model="keyword" @keyup.enter="fnGetList">
        <select v-model="stuGrade" @change="fnGetList">
            <option value="">::전체::</option>
            <option value="1">1학년</option>
            <option value="2">2학년</option>
            <option value="3">3학년</option>
        </select>
        <button @click="fnGetList">검색</button>
        <div style="margin-top : 20px;"> </div>

            <input type="radio" v-model="orderKind" value="asc" @change="fnGetList">오름차순  
            <input type="radio" v-model="orderKind" value="desc" @change="fnGetList">내림차순
            <select v-model="orderName" @change="fnGetList">
                <option value="STU_NAME">이름</option>
                <option value="STU_NO">학번</option>
                <option value="STU_GRADE">학년</option>
            </select>
        <table>
            <tr>
                <th><input type="checkbox" v-model="isAllCheck" @click="fnAllCheck"> </th>
                <th>학번</th>
                <th>이름</th>
                <th>학과</th>
                <th>학년</th>
                <th>성별</th>
            </tr>
            <tr v-for="(item, index) in list">
                <td><input type="checkbox" @change="isAllCheck=false" :id="'stu-' + index" name="stuKey" :value="item.STU_NO" v-model="selectList"></td>
                <td><label :for="'stu-' + index">{{item.STU_NO}}</label></td>
                <td><a href="#" @click="fnInfo(item.STU_NO)"> {{item.STU_NAME}}</a></td>
                <td>{{item.STU_DEPT}}</td>
                <td>{{item.STU_GRADE}}</td>
                <td>
                    <span v-if="item.STU_GENDER == 'M'">남자</span>
                    <span v-else>여자</span>
                </td>
            </tr>
        </table>
        <button @click="fnRemove" class="btn">삭제</button>

    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    list: [],
                    keyword: "",
                    updateStuNo: "",
                    stuGrade: "",
                    selectList: [],
                    defaultList: [],
                    isAllCheck: false,
                    orderName : "STU_NAME",
                    orderKind : "asc"
                };
            },
            methods: {
                fnGetList() {
                    var self = this;
                    var url = `http://localhost:3000/list?keyword=${self.keyword}&grade=${self.stuGrade}&orderName=${self.orderName}&orderKind=${self.orderKind}`
                    $.ajax({
                        url: url,
                        dataType: "json",
                        type: "GET",
                        data: {},
                        success: function (data) {
                            self.list = data;
                            for(var i=0; i<self.list.length; i++){
                                self.defaultList.push(self.list[i].STU_NO);
                            }
                        }
                    });
                },

                fnUpdate(stuNo){
                    this.updateStuNo = stuNo;
                },

                fnRemove(){
                    var self = this;
                    if(!confirm("정말 삭제할거냐?")){
                        return;
                    };
                    // var query="";
                    // for(var i=0; i<self.selectList.length; i++){
                    //     query +=`stuNo=${self.selectList[i]}&`;
                    // }           
                    var url = `http://localhost:3000/delete?stuNo=${self.selectList}`
                    //var url = `http://localhost:3000/delete?stuNo=${query}`
                    $.ajax({
                        url: url,
                        dataType: "json",
                        type: "GET",
                        data: {},
                        success: function (data) {
                            alert(data[0].message);                      
                            self.fnGetList();                     
                        }
                    });
                },

                fnSave(item){
                    if(!confirm("저장 할거냐?")){
                        return;
                    }; 
                    var self = this;
                    var url = `http://localhost:3000/update?stuNo=${item.STU_NO}&stuName=${item.STU_NAME}&stuGrade=${item.STU_GRADE}&stuGender=${item.STU_GENDER}&stuDept=${item.STU_DEPT}`
                    $.ajax({
                        url: url,
                        dataType: "json",
                        type: "GET",
                        data: {},
                        success: function (data) {
                            alert(data[0].message);
                            self.updateStuNo = "";
                            self.fnGetList();
                        }
                    });
                },

                fnAllCheck(){
                    var self=this;
                    self.isAllCheck=!self.isAllCheck;
                    if(self.isAllCheck){
                        self.selectList=self.defaultList;
                    }else{
                        self.selectList=[];
                    }
                },

                fnInfo(stuNo){
                    location.href=`info.html?stuNo=${stuNo}`;
                },
                fnOrder(){

                }

            },
            mounted() {
                // 처음 화면이 실행될때 호출할 부분
                this.fnGetList();
            }
        });
        app.mount('#app');
    </script>
</body>

</html>