<!DOCTYPE html>
<html>
<head>
    <script src="js/jquery-3.7.1.min.js"></script> 
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <meta charset="EUC-KR">
    <title>Insert title here</title>
    <style>
        table,tr,td,th{
            border: 1px solid black;
            text-align: center;
            border-collapse: collapse;
            padding : 5px 10px;
        }
    </style>
</head>
<body>
<div id="app">
    <table v-if="!isInfo"> 
        <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>이메일</th>
            <th>웹사이트</th>
        </tr>
        <tr v-for="(item,index) in list">
            <td>{{index+1}}</td>
            <td>
                <span v-if="index+1<=5" style="color: blue;">{{item.name}}</span>
                <span v-else>{{item.name}}</span>
            </td>
            <td>{{item.email}}</td>
            <td>{{item.website}}</td>
            <td><button @click="fnInfo(item)">상세보기</button></td>
        </tr>
    </table>
    <div v-if="isInfo">
        <div>이름: {{info.name}} </div>
        <div>이메일: {{info.email}} </div>
        <div><button @click="isInfo=false">되돌아가기</button></div>
    </div>
    <!--<input v-model="info.name">-->
    <!--<div>{{list}}</div>-->
</div>

<script>
    const app = Vue.createApp({
        //속성(변수 k-v)
        data() {
            return {
               name:"hong",
               list:[],
               info:{},
               isInfo:false
            };
        },
        //함수
        methods: {
            fnList(){
                $.ajax({
                    url:"https://jsonplaceholder.typicode.com/users",
                    dataType:"json",
                    type:"GET",
                    data:{},
                    success:(data)=>{
                        this.list=data;
                    }
                });
            },
            fnInfo(item){      
                var self=this;
                this.info=item;
                this.isInfo=true;
                //alert("이름:"+item.name+","+"이메일:"+item.email);
            }
        },
        //함수 호출
        mounted() {
            this.fnList();
        }
    });
    app.mount('#app');
</script>
</body>
</html>